* {
  font-family: "Roboto", sans-serif;
}

p {
  font-size: 16px;
  color: #807e7e;
}

a {
  color: white;
  text-decoration: none;
}

li {
  list-style-type: none;
}

body {
  font-size: 16px;
  padding: 0;
  margin: 0;
}

.container {
  margin: 0 auto;
  width: 1170px;
  padding: 0px 15px;
}

.clearfix::after {
  content: "";
  display: table;
  clear: both;
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header {
  background: #3e6380;
  width: 100%;
}

header .header__logo.logo {
  padding: 25px;
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .header__logo.logo .logo_text {
  color: white;
  font-size: 24px;
}

header .header__logo.logo .logo_img {
  width: 70px;
  border-radius: 50%;
}

header .header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__menu ul {
  margin-top: 0px;
  margin-bottom: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__menu ul li {
  text-align: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px 0px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header__menu ul li:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

header .header__menu ul li p {
  font-weight: 800;
  font-style: bold;
}

header .header__menu ul li img {
  width: 32px;
  padding: 5px;
  margin: 0px auto;
  height: 32px;
}

h1 {
  color: #122361;
  margin: 0px;
}

.help {
  background-color: #122361;
  padding-top: 5px;
}

.help__main {
  height: 600px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-image: url("./img//shutterstock_84543808-700x653.jpg");
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  font-size: 24px;
  font-weight: bold;
}

.help__main-text {
  width: 40%;
  height: 100%;
  margin: 0px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help__main-text .h1 {
  margin: 0px auto;
  text-align: center;
}

.help__main-text a {
  text-transform: uppercase;
  padding: 15px;
  border: 10px solid white;
  position: relative;
  margin: 0px auto;
  margin-top: 60px;
  color: white;
  display: inline-block;
}

.help__main-text a::before {
  position: absolute;
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background-color: white;
  top: 50%;
  left: -150px;
}

.help__main-text a::after {
  position: absolute;
  content: "";
  display: block;
  width: 150px;
  height: 5px;
  background-color: white;
  top: 50%;
  right: -150px;
}

.help__help__description {
  padding-top: 40px;
  padding-bottom: 40px;
  height: 100px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.btn {
  background-color: #ffae00;
  color: white;
  outline: none;
  border: 0px;
  cursor: pointer;
}

.btn:hover {
  -webkit-transform: scale(1.01);
          transform: scale(1.01);
}

.input-text {
  outline: none;
  border-style: none;
}

.help__description {
  color: #3e6e7a;
  padding: 15px 0px;
}

.help__description .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

mark {
  background-color: inherit;
  color: black;
  font-weight: 900;
}

.help__text .help__description-main-text mark {
  color: #ffae00;
}

.help__text .help__description-main-text p {
  font-size: 24px;
}

.help__inputs {
  height: 140px;
  padding: 40px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.help__inputs input {
  width: 150px;
  padding: 12px 20px;
  margin: 8px 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
}

a.btn {
  text-decoration: none;
  display: inline-block;
  background-color: white;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 35px;
  position: relative;
}

a.btn::after {
  display: block;
  content: url(./img/navigation.png);
  position: absolute;
  right: 5%;
  top: 20%;
}

.mission {
  padding-top: 40px;
  padding-bottom: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.mission .mission-item {
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-align: center;
}

.mission .mission-item__img {
  margin: 0px auto;
  width: 100px;
  height: 100px;
}

h3 {
  font-size: 24px;
  color: #0a3c70;
}

h4 {
  font-size: 18px;
  color: #0a3c70;
  margin: 0px;
}

.portfolio {
  background-color: #cee6e6;
  text-align: center;
  padding-top: 40px;
  padding-bottom: 20px;
}

.portfolio .works {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.portfolio .works-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  max-width: 33%;
  text-align: center;
  padding: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.portfolio .works-item__img {
  margin: 0px auto;
  width: 50%;
}

.portfolio .works-item__img:hover {
  opacity: 0.5;
}

.portfolio .works-item__img img {
  width: 100%;
}

.importance {
  margin: 40px;
  border-bottom: 1px solid #ffae00;
}

.importance__item {
  margin-left: 50px;
  position: relative;
}

.importance .importance__item--number {
  position: absolute;
  left: -60px;
  font-size: 25px;
  border: 2px solid;
  border-radius: 100%;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
}

.importance .importance__item-title {
  font-weight: bold;
  font-size: 18px;
  color: black;
}

.closed-project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.closed-project__menu {
  width: 30%;
}

.closed-project__menu-item {
  cursor: pointer;
}

.closed-project__menu-item:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.closed-project__menu-item__active {
  color: #ffae00;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.description-items {
  position: relative;
}

.description-item {
  display: none;
}

.description-item__img {
  width: 250px;
}

.description-item__img img {
  width: 100%;
}

.description-item__text {
  max-width: 50%;
  padding: 15px;
}

.description-item--active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.help2 {
  background-color: #122361;
}

footer {
  background-color: #807e7e;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
}

.footer p {
  color: #524e4e;
}

.footer .footer__header {
  color: white;
  font-weight: bold;
  font-weight: 24px;
}

.footer__enterprise {
  width: 25%;
}

.footer__tag {
  width: 25%;
}

.footer__tag ul {
  padding: 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.footer__tag ul .tag-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 5px;
  margin: 2px;
  border: 1px solid black;
}

.footer__contacts {
  width: 25%;
}

.footer__contacts .footer__header {
  margin-bottom: 20px;
}

.footer__contacts .footer__contacts-item {
  margin: 0px;
  padding: 0px;
}

@media screen and (max-width: 1200px) {
  .closed-project__description {
    width: 50%;
  }
  .container {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .help__main-text a {
    border: 0px;
  }
  h1 {
    font-size: 24px;
  }
  .help__inputs {
    height: 100%;
    padding: 0px;
  }
  .help__description .container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .portfolio .works-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .logo_img {
    display: none;
  }
  header .header__menu ul li {
    padding: 0px;
    padding-left: 10px;
  }
  .help__main-text a::after {
    right: -100px;
    width: 100px;
  }
  .help__main-text a::before {
    width: 100px;
    left: -100px;
  }
}

@media SCREEN and (max-width: 425px) {
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__enterprise,
  .footer__tag,
  .footer__contacts {
    width: 90%;
  }
  .portfolio .works-item {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-width: 80%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header .header__menu ul {
    padding-left: 0px;
  }
  .mission {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  header .header__logo.logo .logo_text {
    display: none;
  }
  .help__description .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

@media SCREEN and (max-width: 375px) {
  .help__main-text a::after {
    right: -50px;
    width: 50px;
  }
  .help__main-text a::before {
    left: -50px;
    width: 50px;
  }
}
/*# sourceMappingURL=style.css.map */