<li class="item-card">
  <div class="card vertical">
    <span class="item-card__header">{{ _dt }}</span>
    <div class="card-image">
      <img src="{{ _iconUrl }}" alt="weathericon" />
    </div>
    <div class="card-stacked">
      <div class="card-content">
        <p>
          {{ "HOME.InTheDaytime" | translate }}: {{ _tempDay }}{{ _metricIcon }}
        </p>
        <p>
          {{ "HOME.AtNight" | translate }}: {{ _tempNight }}{{ _metricIcon }}
        </p>
        <!-- {{ "HOME.WIND" | translate }} -->
      </div>
    </div>
  </div>
</li>
