.item-card {
  max-width: 300px;
  // max-height: 300px;
  transform: rotate(5deg);
}
.card-image > img {
  //   margin-left: -1.5rem;
  //   margin-right: -1.5rem;
  margin-top: -1.5rem;
  margin-bottom: -1.5rem;
}
.card-stacked {
  margin: -1rem;
}
.item-card__header {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-top: 20px;
}
